
<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">File Upload Section</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" name="myForm" class="ng-pristine ng-invalid ng-invalid-required">
                <div class="box-body">
                    <div class="form-group">
                        <label>File input</label>
                        <input type="file" ngf-select="" ng-model="vdoFile" name="file" required="" class="ng-pristine ng-invalid ng-invalid-required"/>
                    </div>
                    <div class="form-group progress" ng-show="vdoFile.progress >= 0">
                        <uib-progressbar class="progress-striped active" value="vdoFile.progress" type="success">success - {{vdoFile.progress + " %"}}</uib-progressbar>
                        <span ng-show="vdoFile.result" class="ng-hide">Upload Successful</span>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button ng-disabled="!myForm.$valid" ng-click="uploadPic(vdoFile)" disabled="disabled" class="btn btn-primary">Submit</button>
                </div>
                
            </form>
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-6" id="divplayer">
        
    </div>
</div>